.row {
  display: flex;
  flex-wrap: wrap;
}

.cartegory {
  padding: 100px 0 0;
}

.cartegory-top {
  margin-bottom: 50px;
}

.cartegory-top p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 12px;
  font-size: 12px;
}

.cartegory-left {
  width: 20%;
}

.cartegory-right {
  width: 80%;
}

.cartegory-right-top-item:first-child {
  flex: 2;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.cartegory-right-top-item {
  flex: 1;
  padding: 0 12px;
}

.cartegory-right-top-item button {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.cartegory-right-content {
  margin-top: 20px;
  justify-content: space-between;
}

.cartegory-right-content-item {
  width: calc(25% - 12px);
  text-align: center;
  padding: 12px 0;
}

.cartegory-right-content-item h1 {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 6px;
  color: black;
  font-weight: bold;
}

.cartegory-right-content-item p {
  color: black;
}
.cartegory-right-content-item img {
  width: 100%;
}

.cartegory-right-bottom {
  justify-content: space-between;
  margin: 30px 0 20px;
}

.cartegory-right-bottom p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.cartegory-left ul li {
  padding: 12px 0;
}

.cartegory-left ul li > a {
  color: black;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.cartegory-left ul li ul li {
  padding-left: 10px;
}

.cartegory-left-li ul {
  display: none;
}

.cartegory-left-li.block ul {
  display: block;
}

.cartegory-left ul li ul li a {
  color: #333;
  font-size: 15px;
}
